<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form *ngIf="!isLoading">
    <mat-form-field>
      <input matInput placeholder="Email" type="email" required/>
      <mat-error *ngIf="">Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" required/>
      <mat-error *ngIf="">Please enter a valid password.</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" color="accent">Login</button>
  </form>
</mat-card>

