<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form (submit)="onSavePost(postForm)" *ngIf="!isLoading" #postForm="ngForm">
    <mat-form-field>
      <input matInput [ngModel]="post?.title" #title="ngModel" placeholder="Name" name="title" type="text" required minlength="3"/>
      <mat-error *ngIf="title.invalid">Please enter a title.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [ngModel]="post?.content" #content="ngModel" placeholder="Content" name="content" rows="4" required></textarea>
      <mat-error *ngIf="content.invalid">Please enter a content.</mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button (click)="filePicker.click()" type="button">Pick image</button>
      <input type="file" #filePicker>
    </div>
    <button mat-raised-button type="submit" color="accent">Save post</button>
  </form>
</mat-card>

